
*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --white: #fff;
    --light:#2c2c2c;
    --main: #ff6e68;
}
.MenuItems{
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: row;
    margin-left: 40%;
    margin-top: 1%;
    justify-content: flex-end;
    color: salmon;
    
}
.logoheading{
    color: salmon

}
.welcome{
    bottom: 1           00px;
    margin-bottom: 5%;
    font-size: 200%;
    color: black;
}
.MenuItems:hover{
    cursor: pointer;
    
}


.Product{
    font-size: 20%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
 .Footer {
    position: sticky;
    bottom: 0%;
    top: 100%;
    width: 100%;
    z-index: 9999;
  }
.social {
    float: left;
    width: 2%;
    margin-left:80px;
  }
  .social:hover {
    cursor: pointer;
  }

  .container{
      width: 100%;
     
  }
  /* .Navbar{
      background-color: darkslategrey;
      position: fixed;
      top: 0;
      display: flex;
      line-height: 70px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, -1);
      cursor: pointer;
      z-index: 9999;
  } */

  header{
     background: url("../images/cover2.jpg");
     width: 100%;
    height: 700px;
    margin-bottom: 100px;
      background-size: cover;
      background-repeat: no-repeat;
      color: black;
      
    
  }
  .headertext{
      background:rgba(0, 0, 0, -5);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: khaki;
  }

  .headertext h1{
      font-size: 60px;
      margin-bottom: 250px;
      color: black;
      margin-right: 300px;
  }

.Product{
    text-align: center;
    justify-content: center;
    font-size: 50px;
}

.products{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
}

.product{
        width: 25%;
        padding: 0 12px;
        margin: 20px 0;
        overflow: hidden;
}

.product-image{
    width: 100%;
    height: 200px;
}

.product-image img {
        width: 100%;
        height: 200px;
        overflow: hidden;
}

.our-product{
    text-align: center;
    justify-content: center;
    font-size: 200%;
    text-shadow: blue
}

.products-details{
    padding: 15px 10px;
    text-align: center;
    background: white;
    border-left: 1px solid #fafafa;
    border-right:1px solid #fafafa ;
}

.products-name{
    font-size: 18px;
    font-weight: 500;
    margin: 12px 0;
}

.products-price{
    font-size: 20px;
    font-weight: 300;
    margin: 12px 0;

}

.add-to-cart{
    background: cyan;
    padding: 10px 20px;
    width: 100%;
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}
.card-wrap{
    margin: 0;
    padding: 0;
}
a{
    color: white;
}
a:hover{
    color: red;
}
.left{
    width: 50%;
    text-align: left;
}
.right{
    width: 50%;
    text-align: right;
}

.Footer {
    position: relative;
    bottom: 0%;
    top: 100%;
    width: 100%;
    z-index: 9999;
  }
 .social {
    width: 2%;
  }
.social:hover {
    cursor: pointer;
  }

  .about{
    width: 100%;
    background: url("../images/cosmetic.jpg");
    height: 750px;
    margin-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    

  }
.about h1{
    text-align: center;
    justify-content: center;
    font-size: 100px;
}
  

  .paratext{
    background:rgba(0, 0, 0, -5);
    width: 100%;
    height: 100%;
    font-size: 300%;
    display: flex;
    text-align: center;
    justify-content: center;
    color: cornflowerblue;
   
   
    bottom: 250px;
  }

  .contact{
      width: 100%;
      background: url('../images/Products/phone.jpg');
      height: 750px;
      margin-bottom: 100px;
      background-size: cover;
      background-repeat: no-repeat;
      color: black;
  }
  .contact-text{
      text-align:center;
      justify-content: center;
      
  }
.title
{
    text-align: center;
    justify-content: center;
}
.container-fluid{
    text-align: center;
    justify-content: center;
    background: url('../images/Products/page.jpg');
    height: 550px;
    width: 100%;
}

.navbar{
    width: 100%;
    height: 90px;
    background-color: darkgray;
    position: fixed;
    z-index: 1;

}

.n_Container{
    width: 1300px;
    margin: 0 auto;
}

.nav_container{
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    
    
}

.nav-right{
    display: flex;
}

.nav-right h5{
    margin: 12px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 20px;
    color: white;
    top: 0;
    
}

.nav-right button{
    margin: 12px;

}
.nav-right h5:hover{
    color: darkred;
}

.nav-left h5{
    font-size: 40px;
}

.nav-left img{
    width: 200px;
}

.basket{
    margin:25px;
    position: relative;
    
}
.basket span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -10px;
    top: -10px;
    width: 25px;
    height: 25px;
    background: var(--light);
    border-radius: 50%;
    color: var(--white);
    font-size: 12px;
}

.cart-icon {
    
    font-size: 50px;
    color: green;
    padding: 5px;
}
.cart-container{
    width: 100%;
    margin-left: 40px;
}
  
.carto {
    margin-top: 15px;
    font-weight: bold;

}
/* .proshown{
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 120px;
    
    width: 100%;
    height: 85px;
}
.row{
    display: flex;
    width:100%;
    flex-wrap: wrap;
}


.col-3{
    width: 25%;
}
.producto{
    padding: 175px;
    width: 100%;
    overflow: hidden;
}


.pro_image{
    width: 300px;
    height: 330px;
    overflow: hidden;
}

.product_name{
    margin: 10px 0;
    text-transform: capitalize;
    color:darkgray;
}

.pro_image img{
    width: 600px;
    padding: 50px;
 
    
}



.col-6{
    width:50%;
}

@media(max-width:1000px){
    .pro-container{
        width:100%;
        padding:0 30px;
    }
    .col-3{
        width: 25%;
    }
}

.pro-container{
    margin-top: 30px;
    margin-bottom: 30px;
    overflow:hidden;
}
.product-prize{
    font-size: 20px;
    
}  */
/* .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}

.material-icons{
    font-size: 14px;
    cursor: pointer;
}

.card{
    width: 300px;
}


.card-content p{
    font-size: 15px;
    font-weight: bolder;
}
 */





/* .card-product .img-wrap {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  position: relative;
  height: 220px;
  text-align: center;
}
.card-product .img-wrap img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
.card-product .info-wrap {
  overflow: hidden;
  padding: 15px;
  border-top: 1px solid #eee;
}
.card-product .bottom-wrap {
  padding: 15px;
  border-top: 1px solid #eee;
} */


.producto{
    width:100%;
    display: flex;
    padding: 20px 20px;
}

.col-6{
    margin-top: 10px;
    padding: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: bolder;
}

.button-cart{
    width:100%;
}

.button-cart span{
    width: 100%;
    font-size: 15px;
    background: chocolate;
}

.button-cart button{
    padding: 5px;
    width: 100%;
    display: flex;
  
}
.panel-body p{
    font-weight: bolder;
    font-size: 20px;
}
